[Interface]
PrivateKey = {{ wireguard_client_private_key }}
Address = {{ wireguard_client_addresses | join(', ') }}

[Peer]
PublicKey = {{ wireguard_client_server_public_key }}
PresharedKey = {{ wireguard_client_preshared_key }}
Endpoint = {{ wireguard_client_endpoint_host }}:{{ wireguard_client_endpoint_port }}
AllowedIPs = {{ wireguard_client_allowed_ips | join(', ') }}
PersistentKeepalive = {{ wireguard_client_persistent_keepalive }}
