auth_request /oauth2/auth;
auth_request_set $oauth2_auth_cookie $upstream_http_set_cookie;
auth_request_set $oauth2_remote_email $upstream_http_x_auth_request_email;
add_header Set-Cookie $oauth2_auth_cookie;
proxy_set_header Remote-Email $oauth2_remote_email;
error_page 401 =302 https://{{ oauth2_proxy_hostname }}/oauth2/start?rd=$scheme://$host$request_uri;
