TZ={{ rtorrent_rutorrent_timezone }}
EDITION_IDS={{ rtorrent_rutorrent_geoip_edition_ids }}
LICENSE_KEY={{ rtorrent_rutorrent_geoip_license_key }}
DOWNLOAD_PATH={{ rtorrent_rutorrent_geoip_download_path }}
SCHEDULE={{ rtorrent_rutorrent_geoip_schedule }}
LOG_LEVEL={{ rtorrent_rutorrent_geoip_log_level }}
LOG_JSON={{ rtorrent_rutorrent_geoip_log_json }}
