TZ={{ rtorrent_rutorrent_timezone }}
PUID={{ rtorrent_rutorrent_puid }}
PGID={{ rtorrent_rutorrent_pgid }}
WAN_IP_CMD={{ rtorrent_rutorrent_env.wan_ip_cmd | default('false') }}
AUTH_DELAY={{ rtorrent_rutorrent_env.auth_delay | default('0s') }}
MEMORY_LIMIT={{ rtorrent_rutorrent_env.memory_limit | default('1024M') }}
UPLOAD_MAX_SIZE={{ rtorrent_rutorrent_env.upload_max_size | default('16M') }}
OPCACHE_MEM_SIZE={{ rtorrent_rutorrent_env.opcache_mem_size | default(128) }}
REAL_IP_FROM={{ rtorrent_rutorrent_env.real_ip_from | default('0.0.0.0/32') }}
REAL_IP_HEADER={{ rtorrent_rutorrent_env.real_ip_header | default('X-Forwarded-For') }}
LOG_IP_VAR={{ rtorrent_rutorrent_env.log_ip_var | default('remote_addr') }}
LOG_ACCESS={{ rtorrent_rutorrent_env.log_access | default('false') }}
XMLRPC_AUTHBASIC_STRING={{ rtorrent_rutorrent_env.xmlrpc_authbasic_string | default('rTorrent XMLRPC restricted access') }}
RUTORRENT_AUTHBASIC_STRING={{ rtorrent_rutorrent_env.rutorrent_authbasic_string | default('ruTorrent restricted access') }}
WEBDAV_AUTHBASIC_STRING={{ rtorrent_rutorrent_env.webdav_authbasic_string | default('WebDAV restricted access') }}
RT_LOG_LEVEL={{ rtorrent_rutorrent_env.rt_log_level | default('info') }}
RT_LOG_EXECUTE={{ rtorrent_rutorrent_env.rt_log_execute | default('false') }}
RT_LOG_XMLRPC={{ rtorrent_rutorrent_env.rt_log_xmlrpc | default('false') }}
RU_REMOVE_CORE_PLUGINS={{ rtorrent_rutorrent_env.ru_remove_core_plugins | default('erasedata,httprpc') }}
RU_HTTP_USER_AGENT={{ rtorrent_rutorrent_env.ru_http_user_agent | default('Mozilla/5.0 (Windows NT 6.0; WOW64; rv:12.0) Gecko/20100101 Firefox/12.0') }}
RU_HTTP_TIME_OUT={{ rtorrent_rutorrent_env.ru_http_time_out | default(30) }}
RU_HTTP_USE_GZIP={{ rtorrent_rutorrent_env.ru_http_use_gzip | default('true') }}
RU_RPC_TIME_OUT={{ rtorrent_rutorrent_env.ru_rpc_time_out | default(5) }}
RU_LOG_RPC_CALLS={{ rtorrent_rutorrent_env.ru_log_rpc_calls | default('false') }}
RU_LOG_RPC_FAULTS={{ rtorrent_rutorrent_env.ru_log_rpc_faults | default('true') }}
RU_PHP_USE_GZIP={{ rtorrent_rutorrent_env.ru_php_use_gzip | default('false') }}
RU_PHP_GZIP_LEVEL={{ rtorrent_rutorrent_env.ru_php_gzip_level | default(2) }}
RU_SCHEDULE_RAND={{ rtorrent_rutorrent_env.ru_schedule_rand | default(10) }}
RU_LOG_FILE={{ rtorrent_rutorrent_env.ru_log_file | default('/data/rutorrent/rutorrent.log') }}
RU_DO_DIAGNOSTIC={{ rtorrent_rutorrent_env.ru_do_diagnostic | default('true') }}
RU_SAVE_UPLOADED_TORRENTS={{ rtorrent_rutorrent_env.ru_save_uploaded_torrents | default('true') }}
RU_OVERWRITE_UPLOADED_TORRENTS={{ rtorrent_rutorrent_env.ru_overwrite_uploaded_torrents | default('false') }}
RU_FORBID_USER_SETTINGS={{ rtorrent_rutorrent_env.ru_forbid_user_settings | default('false') }}
RU_LOCALE={{ rtorrent_rutorrent_env.ru_locale | default('UTF8') }}
