auth_request /tinyauth/auth;
auth_request_set $tinyauth_auth_cookie $upstream_http_set_cookie;
auth_request_set $tinyauth_location $upstream_http_x_tinyauth_location;
auth_request_set $tinyauth_email $upstream_http_remote_email;
auth_request_set $tinyauth_user $upstream_http_remote_user;
add_header Set-Cookie $tinyauth_auth_cookie;
proxy_set_header X-Forwarded-Email $tinyauth_email;
proxy_set_header X-Forwarded-User $tinyauth_user;
error_page 401 =302 $tinyauth_location;
error_page 403 =302 $tinyauth_location;
